@model IEnumerable<COMP2084MidtermW20.Models.Election>

@{
    ViewData["Title"] = "Elections";
    Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Canadian Federal Parties</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Majority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Party)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
 @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Majority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Party.Name)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.ElectionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ElectionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ElectionId">Delete</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
